<!DOCTYPE html>
<html lang="en" class="w-[100rem]">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config.title}}</title>
    <link rel="stylesheet" href="./css/pico.min.css">



</head>

<body>


    <main id="container">
        <nav class="flex justify-between">
            <ul class="flex">
                <li><a class="p-2" href="/{{config.base}}/index">首页</a></li>
                <li>
                    <details role="list">
                        <summary aria-haspopup="listbox" role="button">
                            文章
                        </summary>
                        <ul role="listbox">
                            <li><a href="/{{config.base}}/tag">标签</a></li>
                            <li><a href="/{{config.base}}/category">类型</a></li>
                        </ul>
                    </details>
                </li>
                <li><a class="p-2" href="/{{config.base}}/about">关于</a></li>
            </ul>
            <ul>
                <li><a class="p-2" href="/{{config.base}}/friend">友链</a></li>
            </ul>
        </nav>

        <h1 align="center">文章类型</h1>
        <ul>
            {% for category in categories %}
            <details open>
                <summary>{{category}}</summary>
                <ul>
                    {% for post in posts_index %}
                    {% if post.category == category %}
                    <li><a data-tooltip="{{post.datetime|date(formate='%Y-%m-%d%h:%M')}}| {{post.category}} | {% for tag in post.tags %} {{tag}} {% endfor %}"
                            href='/{{config.base}}/Post/{{post.url_name}}'> {{post.title}}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </details>
            {% endfor %}
        </ul>
    </main>
    <div id="commit">
        <script src="https://giscus.app/client.js" data-repo="Liboq/rpress" data-repo-id="R_kgDOKmwZyA"
            data-category="Show and tell" data-category-id="DIC_kwDOKmwZyM4Cal6C" data-mapping="url" data-strict="0"
            data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom"
            data-theme="preferred_color_scheme" data-lang="zh-CN" data-loading="lazy" crossorigin="anonymous" async>
            </script>
    </div>

</body>

</html>