<!DOCTYPE html>
<html lang="en" class="w-[100rem]">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{props.title}}</title>
    <link rel="stylesheet" href="../css/pico.min.css">
</head>

<body>

    <main id="container">
        <nav>
            <ul>
                <li><a href="/{{cur_base}}/index.html">首页</a></li>
                <li>
                    <details role="list">
                        <summary aria-haspopup="listbox" role="button">
                            文章
                        </summary>
                        <ul role="listbox">
                            <li><a href="/{{cur_base}}/tag.html">标签</a></li>
                            <li><a href="/{{cur_base}}/category.html">类型</a></li>
                        </ul>
                    </details>
                </li>
                <li><a href="/{{cur_base}}/about.html">关于</a></li>
            </ul>
            <ul>
                <li><a href="/{{cur_base}}/friend.html">友链</a></li>
            </ul>
        </nav>
        <h1 align="center" id="{{props.title}}">{{props.title}}</h1>
        <p align="center">
            <small>
                <span>{{props.datetime|date(formate="%Y-%m-%d %h:%M")}} |</span>
            </small>
            <a href="/{{cur_base}}/category.html">{{props.category}} |</a>
            {% for tag in props.tags %}
            <a href="/{{cur_base}}/tag.html">{{tag}}</a>
            {% endfor %}
        </p>

        <article>
            {{body}}
        </article>
    </main>
    <div id="commit">
        <script src="https://giscus.app/client.js" data-repo="Liboq/rpress" data-repo-id="R_kgDOKmwZyA"
            data-category="Show and tell" data-category-id="DIC_kwDOKmwZyM4Cal6C" data-mapping="url" data-strict="0"
            data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom"
            data-theme="preferred_color_scheme" data-lang="zh-CN" data-loading="lazy" crossorigin="anonymous" async>
            </script>
    </div>
</body>

</html>